.playlist-page {
    height: 100%;
    margin: 0 2% 2% 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-header {
    display: flex;
    align-items: center;
}
.playlist-header>h1 {margin: 1.5em;}

.songs-list {
    width: 100%;
    margin-top: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.songs-list>li {
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--highlight-color) ;
}
.songs-list>li:first-child {
    border-top: none;
}

.songs-list>li>a {
    color: var(--contrast-color);
}

.album-cover-container-box {
    width: 4.3em;
    height: 4.3em;
    margin-right: 3em;
    border-radius: 4px;
    box-shadow: var(--main-neumorph-effect);
    background-color: var(--contrast-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.album-cover-container-box>.album-cover-container {
    height: 4em;
    width: 4em;
    border-radius: 4px;
}
.album-cover-container-box>.album-cover-container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.filter-btn-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.songs-list>li>span {
    color: var(--faded-color);
}

